In [3]:
import requests
import csv 
import xml.etree.ElementTree as ET 
import pandas as pd

In [2]:
response = requests.get("https://denner-mobile-api.detailnet.ch/v2")
print(response.status_code)

403

In [4]:
# def loadRSS(): 
  
#     # url of rss feed 
#     url = 'https://www.ogd.stadt-zuerich.ch/mapproxy/wmts/1.0.0/WMTSCapabilities.xml'
  
#     # creating HTTP response object from given url 
#     resp = requests.get(url) 
  
#     # saving the xml file 
#     with open('topnewsfeed.xml', 'wb') as f: 
#         f.write(resp.content) 
          
# def parseXML(xmlfile): 
  
#     # create element tree object 
#     tree = ET.parse(xmlfile) 
  
#     # get root element 
#     root = tree.getroot() 
  
#     # create empty list for news items 
#     newsitems = [] 
  
#     # iterate news items 
#     for item in root.findall('./channel/item'): 
  
#         # empty news dictionary 
#         news = {} 
  
#         # iterate child elements of item 
#         for child in item: 
  
#             # special checking for namespace object content:media 
#             if child.tag == '{http://search.yahoo.com/mrss/}content': 
#                 news['media'] = child.attrib['url'] 
#             else: 
#                 news[child.tag] = child.text.encode('utf8') 
  
#         # append news dictionary to news items list 
#         newsitems.append(news) 
      
#     # return news items list 
#     return newsitems 
  
# def savetoCSV(newsitems, filename): 
  
#     # specifying the fields for csv file 
#     fields = ['guid', 'title', 'pubDate', 'description', 'link', 'media'] 
  
#     # writing to csv file 
#     with open(filename, 'w') as csvfile: 
  
#         # creating a csv dict writer object 
#         writer = csv.DictWriter(csvfile, fieldnames = fields) 
  
#         # writing headers (field names) 
#         writer.writeheader() 
  
#         # writing data rows 
#         writer.writerows(newsitems) 

# # def main(): 
# # load rss from web to update existing xml file 
# loadRSS() 

# # parse xml file 
# newsitems = parseXML('topnewsfeed.xml') 

# # store news items in a csv file 
# savetoCSV(newsitems, 'topnews.csv')

In [46]:
import csv

In [37]:
# response = requests.get(url)
# decoded_content = response.content.decode('utf-8')

# cr = csv.reader(decoded_content.splitlines(), delimiter=',')
# cr

In [48]:
df = pd.read_csv("../data/Population/bev324od3240.csv")
df

      StichtagDatJahr  QuarSort    QuarLang  AnzBestWir
0                2022        11     Rathaus      3330.0
1                2021        11     Rathaus      3275.0
2                2020        11     Rathaus      3317.0
3                2019        11     Rathaus      3307.0
4                2018        11     Rathaus      3267.0
...               ...       ...         ...         ...
2887             1945       123  Hirzenbach         NaN
2888             1944       123  Hirzenbach         NaN
2889             1943       123  Hirzenbach         NaN
2890             1942       123  Hirzenbach         NaN
2891             1941       123  Hirzenbach         NaN

[2892 rows x 4 columns]

In [59]:
df.groupby(["StichtagDatJahr","QuarLang"]).mean()

                              QuarSort  AnzBestWir
StichtagDatJahr QuarLang
1941            Affoltern        111.0      3347.0
                Albisrieden       91.0      5952.0
                Alt-Wiedikon      31.0         NaN
                Altstetten        92.0     13651.0
                City              14.0      4462.0
...                                ...         ...
2022            Weinegg           83.0      5559.0
                Werd              41.0      4515.0
                Wipkingen        102.0     16698.0
                Witikon           74.0     11402.0
                Wollishofen       21.0     20570.0

[2892 rows x 2 columns]

In [56]:
# df2 = pd.read_json("../data/Population/ch.json")
# df2

In [57]:
# df3 = pd.read_csv("../data/Population/Zurich-population-2023-12-06.csv")
# df3