In [1]:
%load_ext lab_black

In [2]:
import json
import requests
import yaml

url = "https://ckan.opendata.swiss/api/3/action/package_show?id=haushaltsaquivalenz-einkommen-steuerpflichtiger-naturlicher-personen-nach-haushaltstyp-stadtqua"

resp = requests.get(url)
resp.content[:500]

b'{"help": "https://ckan.opendata.swiss/api/3/action/help_show?name=package_show", "success": true, "result": {"license_title": null, "maintainer": "Open Data Z\\u00fcrich", "issued": "2022-11-01T00:00:00", "title_for_slug": "haushaltsaquivalenz-einkommen-steuerpflichtiger-naturlicher-personen-nach-haushaltstyp-stadtqua", "qualified_relations": [], "private": false, "maintainer_email": "opendata@zuerich.ch", "num_tags": 7, "contact_points": [{"email": "opendata@zuerich.ch", "name": "Open Data Z\\u00'

In [3]:
resp.status_code

200

In [4]:
resp.encoding

'utf-8'

In [5]:
json_household_income = resp.json()
household_income_url = json_household_income["result"]["resources"][0]["url"]

In [6]:
import pandas as pd

zurich_household_income = pd.read_csv(household_income_url)
zurich_household_income.head()

,StichtagDatJahr,QuarSort,QuarCd,QuarLang,HHtypSort,HHtypCd,HHtypLang,aequEK_p50,aequEK_p25,aequEK_p75
0,2013,11,11,Rathaus,14,GH,Generationenhaushalt,NaN,NaN,NaN
1,2013,11,11,Rathaus,11,PH,Patchwork-Haushalt,NaN,NaN,NaN
2,2013,11,11,Rathaus,13,WGK,Wohngemeinschaft mit Kind(ern),NaN,NaN,NaN
3,2013,11,11,Rathaus,6,EP,Eingetragenes Paar ohne Kind(er),NaN,NaN,NaN
4,2013,11,11,Rathaus,10,PK,Paar mit Kind(ern),NaN,NaN,NaN